---
{{- $this := .Values.geoserver.rabbitmq }}
{{- $global := .Values.global }}
# Checklist:
# - [x] Minimal Resources
# - [x] Minimal storage
# - [x] 1 Replica -> default

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

persistence:
  size: 1Gi
