---
{{- $this := .Values.geoserver.geoserver }}
{{- $global := .Values.global }}
# Checklist:
# - [ ] Minimal Resources
# - [ ] Minimal storage
# - [ ] 1 Replica

# TODO: set helm values for geoserver here
