---
image:
  repository: '{{ .Environment.Values.redpandaConnect.image.repository }}'
  tag: '{{ .Environment.Values.redpandaConnect.image.tag }}'
metrics:
  enabled: true
  statsd:
    address: localhost:8125
    flush_period: 100ms
args:
  - "-c"
  - "/redpanda-connect.yaml"
  # TODO: fix "Configuration file read error: /redpanda-connect.yaml: (2,1) unable to infer metrics type from candidates: [enabled]"
  - "--chilled"