---
environments:
  default:
    values:
      - environments/default/global.yaml
  testing:
    values:
      - environments/default/global.yaml
      - environments/testing/global.yaml.gotmpl
---
helmfiles:
  - path: "./components/kafka/helmfile.yaml.gotmpl"
    values:
      - {{ toYaml .Values | nindent 8 }}
      - profiles/{{ .Values.global.profile }}.yaml

  - path: "./components/postgres/helmfile.yaml.gotmpl"
    values:
      - {{ toYaml .Values | nindent 8 }}
      - profiles/{{ .Values.global.profile }}.yaml
