---
bases:
  - "../../bases/environments.yaml.gotmpl"
  - "../../bases/templates.yaml"
  - "../../bases/helm-defaults.yaml.gotmpl"
---
helmfiles:
  - path: "./helmfile-child.yaml.gotmpl"
    values:
      - {{ toYaml .Values | nindent 8 }}
