---
bases:
  - "../../bases/environments.yaml"
  - "../../bases/templates.yaml"
  - "../../bases/helm-defaults.yaml"
---
repositories:
  - name: kafbat-ui
    url: https://kafbat.github.io/helm-charts
---

{{- $componentData := (readFile "./releases.yaml" | fromYaml) }}

releases:
  - {{ include "civitas.release" (dict
      "AllHelmfileValues" .Values
      "Component" $componentData.component
      "Part" $componentData.part
      "ExtraLabels" (dict "operator" true))
     | indent 4 }}
---
commonLabels:
  component: kafka
