---
{{- $this := .Values.etcd.etcd }}
{{- $global := .Values.global }}
# Checklist:
# - [x] Minimal Resources
# - [x] Minimal storage
# - [x] 1 Replica

replicas: 1

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

persistence:
  enabled: true
  size: 1Gi
  storageClass: ''
  accessMode: ReadWriteOnce

podDisruptionBudget:
  enabled: false

etcd:
  quotaBackendBytes: '2147483648' # 2GB
