---
{{- $this := .Values.apisix.configuration -}}
{{- $global := .Values.global }}
# Checklist:
# - [x] Containers run as non-root with `readOnlyRootFilesystem`
# - [ ] Health probes -> not applicable
# - [x] Graceful shutdown
# - [x] Standard labels
# - [ ] ServiceAccount with least privilege where required
# - [ ] Named ports -> not applicable
# - [ ] Ingress with TLS -> not (yet) applicable

plugins:
{{- range $component, $config := .Values.plugins }}
  {{ $component }}:
{{ $config | toYaml | nindent 4 }}
{{- end }}

routes:
{{- range $component, $config := .Values.routes }}
  {{ $component }}:
{{ $config | toYaml | nindent 4 }}
{{- end }}

secret:
  adminKeySecretName: apisix-admin-credentials
  adminKeySecretKey: admin

apisix:
  host: apisix-admin

extraSecretEnvVars:
  - name: APISIX_VALIDATOR_CLIENT_SECRET
    secretName: keycloak-client-apisix-validator
    secretKey: client-secret
  - name: OIDC_SESSION_SECRET
    secretName: apisix-oidc-session
    secretKey: secret


domain: {{ $global.domain }}
realm: {{ $global.instanceSlug }}

securityContext:
  {{ .Values.securityDefaults.securityContext | toYaml | nindent 2 }}

podSecurityContext:
  {{ .Values.securityDefaults.podSecurityContext | toYaml | nindent 2 }}
