---
{{- $this := .Values.authz.authz }}
{{- $global := .Values.global }}
# Checklist:
# - [x] Containers run as non-root with `readOnlyRootFilesystem`
# - [x] Health probes
# - [x] Graceful shutdown
# - [x] Standard labels
# - [ ] ServiceAccount with least privilege where required
# - [x] Named ports
# - [ ] Ingress with TLS

opa:
  image:
    repository: {{ .Values.images.authz.opa.repository }}
    tag: {{ .Values.images.authz.opa.tag }}

  volumeMounts:
    - name: opa-config
      mountPath: /data/config.json
      subPath: opa-config.json
      readOnly: true
    - name: tmp
      mountPath: /tmp

authz:
  image:
    repository: {{ .Values.images.authz.authz.repository }}
    tag: {{ .Values.images.authz.authz.tag }}

  database:
    # TODO: Make it more dynamic from portal database resource
    url: 'jdbc:postgresql://{{ .Values.databases.portal.host }}:5432/portal'
    username: 'authz'
    credentialsSecret:
      name: db-authz-readonly
      passwordKey: password