---
{{- $this := .Values.authz.authz }}
{{- $global := .Values.global }}
# Checklist:
# - [x] Minimal Resources
# - [x] Minimal storage
# - [x] 1 Replica

opa:
  replicaCount: 1

  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

authz:
  replicaCount: 1

  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

  persistence:
    enabled: false
