---
{{- $this := .Values.portal.portal }}
{{- $global := .Values.global }}
# Checklist:
# - [x] Resources (requests and limits)
# - [x] Larger Storage -> not applicable
# - [x] 2+ Replicas or HorizontalPodAutoscaler
# - [x] Rolling updates `maxUnavailable: 0`, `maxSurge: 25%`
# - [x] PodDisruptionBudget (at least `minAvailable: 1`)

backend:
  replicaCount: 2
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 1Gi

frontend:
  replicaCount: 2
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

autoscaling:
  backend:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 80
  frontend:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 80
