---
{{- $this := .Values.kafka.cluster }}
{{- $global := .Values.global }}

# TODO: Enable TLS and configure certs for production use
kafka:
  listeners:
  - name: internal
    port: {{ $this.bootstrapPort }}
    type: internal
    tls: false

topics:
  - name: "kafkasql-journal"
    partitions: 1
    replicas: 1
    config:
      retention.ms: -1
      segment.bytes: -1
