---
ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-staging
  host: kafka-ui.civitas.test
  path: '/'
  ingressClassName: nginx

# Lower resource requirements for dev
resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 800m
    memory: 2Gi

replicaCount: 1
