---
yamlApplicationConfig:
  kafka:
    clusters:
      - name: kafka-cluster
        bootstrapServers: {{ .Values.kafka.cluster.bootstrapService }}:{{ .Values.kafka.cluster.bootstrapPort }}

ingress:
  enabled: {{ .Values.defaults.ingress.enabled }}
  annotations:
    cert-manager.io/cluster-issuer: {{ .Values.defaults.ingress.clusterIssuer }}
  {{- if index .Values.kafka.ui "subdomain" }}
  host: {{ .Values.kafka.ui.subdomain }}.{{ .Values.global.domain }}
  path: '/'
  {{- else }}
  host: {{ .Values.global.domain }}
  path: '{{ .Values.kafka.ui.pathPrefix }}'
  {{- end }}
  ingressClassName: {{ .Values.global.ingress.ingressClass }}

resources:
  {{- .Values.defaults.resources | toYaml | nindent 2  }}

replicaCount: {{ .Values.defaults.replicas }}

podDisruptionBudget:
  enabled: {{ .Values.defaults.podDisruptionBudget.enabled }}
  minAvailable: {{ .Values.defaults.podDisruptionBudget.minAvailable }}
