---
global:
  domain: main.civitas2.fw-web.space
  profile: production
  instanceSlug: civitas
  initialUserEmail: {{ env "GITLAB_USER_EMAIL" | default "admin@civitas.test" }}
  ingress:
    enabled: true
    clusterIssuer: 'letsencrypt-prod'
    ingressClass: 'nginx'