---
{{- $this := .Values.keycloak.config }}
{{- $global := .Values.global }}
# Checklist:
# - [x] Containers run as non-root with `readOnlyRootFilesystem` -> not applicable
# - [x] Health probes -> not applicable
# - [x] Graceful shutdown -> not applicable
# - [ ] Standard labels
# - [x] ServiceAccount with least privilege where required -> not applicable
# - [x] Named ports -> not applicable
# - [x] Ingress with TLS -> not applicable

networkPolicy:
  enabled: true
  podSelector:
    app.kubernetes.io/instance: keycloak-app
