---
{{- $this := .Values.keycloak.config }}
{{- $global := .Values.global }}
# Checklist:
# - [x] Resources (requests and limits) -> not applicable
# - [x] Larger Storage -> not applicable
# - [x] 2+ Replicas or HorizontalPodAutoscaler -> not applicable
# - [x] Rolling updates `maxUnavailable: 0`, `maxSurge: 25%` -> not applicable
# - [x] PodDisruptionBudget (at least `minAvailable: 1`) -> not applicable
