---
image:
  repository: docker.io/adorsys/keycloak-config-cli
  tag: "{{ default "6.4.0-26" .Environment.Values.keycloak.config.image.tag }}"
backoffLimit: 2
job:
  resources:
    limits:
      cpu: {{ default "100m" .Environment.Values.keycloak.config.resources.limits.cpu }}
      memory: {{ default "1024Mi" .Environment.Values.keycloak.config.resources.limits.memory }}
    requests:
      cpu: {{ default "100m" .Environment.Values.keycloak.config.resources.requests.cpu }}
      memory: {{ default "1024Mi" .Environment.Values.keycloak.config.resources.requests.memory }}

env:
  KEYCLOAK_AVAILABILITYCHECK_ENABLED: "true"
  KEYCLOAK_AVAILABILITYCHECK_RETRIES: "{{ default "10s" .Environment.Values.keycloak.config.availabilityCheckTimeout }}"
  KEYCLOAK_URL: http://keycloak-keycloakx-http.{{ .Environment.Values.keycloak.namespace }}.svc.cluster.local:80
  KEYCLOAK_USER: {{ default "admin" .Environment.Values.keycloak.admin.user }}
  IMPORT_FILES_LOCATIONS: /config/*
  IMPORT_VARSUBSTITUTION_ENABLED: "true"

existingSecret: "{{ default "keycloak-admin-user" .Environment.Values.keycloak.admin.secret.name }}"
existingSecretKey: "{{ default "admin-password" .Environment.Values.keycloak.admin.secret.key }}"

secrets:
  SMTP_HOST: {{ exec "sh" (list "-c" (printf "kubectl get secret keycloak-smtp -n %s -o jsonpath='{.data.host}' | base64 -d" .Environment.Values.keycloak.namespace)) | squote }}
  SMTP_PORT: {{ exec "sh" (list "-c" (printf "kubectl get secret keycloak-smtp -n %s -o jsonpath='{.data.port}' | base64 -d" .Environment.Values.keycloak.namespace)) | squote }}
  SMTP_FROM: {{ exec "sh" (list "-c" (printf "kubectl get secret keycloak-smtp -n %s -o jsonpath='{.data.from}' | base64 -d" .Environment.Values.keycloak.namespace)) | squote }}
  SMTP_USER: {{ exec "sh" (list "-c" (printf "kubectl get secret keycloak-smtp -n %s -o jsonpath='{.data.user}' | base64 -d" .Environment.Values.keycloak.namespace)) | squote }}
  SMTP_PASSWORD: {{ exec "sh" (list "-c" (printf "kubectl get secret keycloak-smtp -n %s -o jsonpath='{.data.password}' | base64 -d" .Environment.Values.keycloak.namespace)) | squote }}
  PORTAL_CLIENT_SECRET: {{ exec "sh" (list "-c" (printf "kubectl get secret portal-keycloak-secrets -n %s -o jsonpath='{.data.client-secret}' | base64 -d" .Environment.Values.portal.namespace)) | squote }}
  NEXTAUTH_SECRET: {{ exec "sh" (list "-c" (printf "kubectl get secret portal-nextauth-secret -n %s -o jsonpath='{.data.secret}' | base64 -d" .Environment.Values.portal.namespace)) | squote }}
config:
  {{ .Environment.Values.keycloak.config.realm.name }}:
    inline:
      id: "{{ .Environment.Values.keycloak.config.realm.id }}"
      realm: "{{ .Environment.Values.keycloak.config.realm.name }}"
      notBefore: 0
      defaultSignatureAlgorithm: RS256
      revokeRefreshToken: false
      refreshTokenMaxReuse: 0
      accessTokenLifespan: 300
      accessTokenLifespanForImplicitFlow: 900
      ssoSessionIdleTimeout: 1800
      ssoSessionMaxLifespan: 36000
      ssoSessionIdleTimeoutRememberMe: 0
      ssoSessionMaxLifespanRememberMe: 0
      offlineSessionIdleTimeout: 2592000
      offlineSessionMaxLifespanEnabled: false
      offlineSessionMaxLifespan: 5184000
      clientSessionIdleTimeout: 0
      clientSessionMaxLifespan: 0
      clientOfflineSessionIdleTimeout: 0
      clientOfflineSessionMaxLifespan: 0
      accessCodeLifespan: 60
      accessCodeLifespanUserAction: 300
      accessCodeLifespanLogin: 1800
      actionTokenGeneratedByAdminLifespan: 43200
      actionTokenGeneratedByUserLifespan: 300
      enabled: true
      sslRequired: external
      registrationAllowed: false
      registrationEmailAsUsername: true
      rememberMe: true
      verifyEmail: true
      loginWithEmailAllowed: true
      duplicateEmailsAllowed: false
      resetPasswordAllowed: true
      editUsernameAllowed: false
      bruteForceProtected: false
      permanentLockout: false
      maxFailureWaitSeconds: 900
      minimumQuickLoginWaitSeconds: 60
      waitIncrementSeconds: 60
      quickLoginCheckMilliSeconds: 1000
      maxDeltaTimeSeconds: 43200
      failureFactor: 30
      defaultRoles:
        - offline_access
        - uma_authorization
      requiredCredentials:
        - password
      otpPolicyType: totp
      otpPolicyAlgorithm: HmacSHA1
      otpPolicyInitialCounter: 0
      otpPolicyDigits: 6
      otpPolicyLookAheadWindow: 1
      otpPolicyPeriod: 30
      otpSupportedApplications:
        - FreeOTP
        - Google Authenticator
      webAuthnPolicyRpEntityName: keycloak
      webAuthnPolicySignatureAlgorithms:
        - ES256
      webAuthnPolicyRpId: ""
      webAuthnPolicyAttestationConveyancePreference: not specified
      webAuthnPolicyAuthenticatorAttachment: not specified
      webAuthnPolicyRequireResidentKey: not specified
      webAuthnPolicyUserVerificationRequirement: not specified
      webAuthnPolicyCreateTimeout: 0
      webAuthnPolicyAvoidSameAuthenticatorRegister: false
      webAuthnPolicyAcceptableAaguids: []
      webAuthnPolicyPasswordlessRpEntityName: keycloak
      webAuthnPolicyPasswordlessSignatureAlgorithms:
        - ES256
      webAuthnPolicyPasswordlessRpId: ""
      webAuthnPolicyPasswordlessAttestationConveyancePreference: not specified
      webAuthnPolicyPasswordlessAuthenticatorAttachment: not specified
      webAuthnPolicyPasswordlessRequireResidentKey: not specified
      webAuthnPolicyPasswordlessUserVerificationRequirement: not specified
      webAuthnPolicyPasswordlessCreateTimeout: 0
      webAuthnPolicyPasswordlessAvoidSameAuthenticatorRegister: false
      webAuthnPolicyPasswordlessAcceptableAaguids: []
      browserSecurityHeaders:
        contentSecurityPolicyReportOnly: ""
        xContentTypeOptions: nosniff
        xRobotsTag: none
        xFrameOptions: SAMEORIGIN
        contentSecurityPolicy: frame-src 'self'; frame-ancestors 'self'; object-src 'none';
        xXSSProtection: 1; mode=block
        strictTransportSecurity: max-age=31536000; includeSubDomains
      smtpServer:
        # TODO: This is a temporary solution. Find a better way to manage secrets in templates.
        password: "$(env:SMTP_PASSWORD)"
        host: "$(env:SMTP_HOST)"
        port: "$(env:SMTP_PORT)"
        from: "$(env:SMTP_FROM)"
        user: "$(env:SMTP_USER)"
        starttls: true
        auth: true
        ssl: ""
      loginTheme: "{{ .Environment.Values.keycloak.config.realm.theme }}"
      accountTheme: "{{ .Environment.Values.keycloak.config.realm.theme }}"
      adminTheme: "{{ .Environment.Values.keycloak.config.realm.theme }}"
      emailTheme: "{{ .Environment.Values.keycloak.config.realm.theme }}"
      eventsEnabled: {{ .Environment.Values.keycloak.config.realm.enable_events }}
      eventsExpiration: 2592000
      eventsListeners:
        - jboss-logging
      enabledEventTypes:
        - SEND_RESET_PASSWORD
        - UPDATE_CONSENT_ERROR
        - GRANT_CONSENT
        - VERIFY_PROFILE_ERROR
        - REMOVE_TOTP
        - REVOKE_GRANT
        - UPDATE_TOTP
        - LOGIN_ERROR
        - CLIENT_LOGIN
        - RESET_PASSWORD_ERROR
        - IMPERSONATE_ERROR
        - CODE_TO_TOKEN_ERROR
        - CUSTOM_REQUIRED_ACTION
        - OAUTH2_DEVICE_CODE_TO_TOKEN_ERROR
        - RESTART_AUTHENTICATION
        - IMPERSONATE
        - UPDATE_PROFILE_ERROR
        - LOGIN
        - OAUTH2_DEVICE_VERIFY_USER_CODE
        - UPDATE_PASSWORD_ERROR
        - CLIENT_INITIATED_ACCOUNT_LINKING
        - TOKEN_EXCHANGE
        - AUTHREQID_TO_TOKEN
        - LOGOUT
        - REGISTER
        - DELETE_ACCOUNT_ERROR
        - CLIENT_REGISTER
        - IDENTITY_PROVIDER_LINK_ACCOUNT
        - DELETE_ACCOUNT
        - UPDATE_PASSWORD
        - CLIENT_DELETE
        - FEDERATED_IDENTITY_LINK_ERROR
        - IDENTITY_PROVIDER_FIRST_LOGIN
        - CLIENT_DELETE_ERROR
        - VERIFY_EMAIL
        - CLIENT_LOGIN_ERROR
        - RESTART_AUTHENTICATION_ERROR
        - EXECUTE_ACTIONS
        - REMOVE_FEDERATED_IDENTITY_ERROR
        - TOKEN_EXCHANGE_ERROR
        - PERMISSION_TOKEN
        - SEND_IDENTITY_PROVIDER_LINK_ERROR
        - EXECUTE_ACTION_TOKEN_ERROR
        - SEND_VERIFY_EMAIL
        - OAUTH2_DEVICE_AUTH
        - EXECUTE_ACTIONS_ERROR
        - REMOVE_FEDERATED_IDENTITY
        - OAUTH2_DEVICE_CODE_TO_TOKEN
        - IDENTITY_PROVIDER_POST_LOGIN
        - IDENTITY_PROVIDER_LINK_ACCOUNT_ERROR
        - OAUTH2_DEVICE_VERIFY_USER_CODE_ERROR
        - UPDATE_EMAIL
        - REGISTER_ERROR
        - REVOKE_GRANT_ERROR
        - EXECUTE_ACTION_TOKEN
        - LOGOUT_ERROR
        - UPDATE_EMAIL_ERROR
        - CLIENT_UPDATE_ERROR
        - AUTHREQID_TO_TOKEN_ERROR
        - UPDATE_PROFILE
        - CLIENT_REGISTER_ERROR
        - FEDERATED_IDENTITY_LINK
        - SEND_IDENTITY_PROVIDER_LINK
        - SEND_VERIFY_EMAIL_ERROR
        - RESET_PASSWORD
        - CLIENT_INITIATED_ACCOUNT_LINKING_ERROR
        - OAUTH2_DEVICE_AUTH_ERROR
        - UPDATE_CONSENT
        - REMOVE_TOTP_ERROR
        - VERIFY_EMAIL_ERROR
        - SEND_RESET_PASSWORD_ERROR
        - CLIENT_UPDATE
        - CUSTOM_REQUIRED_ACTION_ERROR
        - IDENTITY_PROVIDER_POST_LOGIN_ERROR
        - UPDATE_TOTP_ERROR
        - CODE_TO_TOKEN
        - VERIFY_PROFILE
        - GRANT_CONSENT_ERROR
        - IDENTITY_PROVIDER_FIRST_LOGIN_ERROR
      adminEventsEnabled: {{ .Environment.Values.keycloak.config.realm.enable_adminEvents }}
      adminEventsDetailsEnabled: {{ .Environment.Values.keycloak.config.realm.enable_adminEvents }}
      internationalizationEnabled: true
      supportedLocales:
        - de
        - en
      defaultLocale: en
      browserFlow: browser
      registrationFlow: registration
      directGrantFlow: direct grant
      resetCredentialsFlow: reset credentials
      clientAuthenticationFlow: clients
      dockerAuthenticationFlow: docker auth
      attributes:
        clientOfflineSessionMaxLifespan: "0"
        clientSessionIdleTimeout: "0"
        clientSessionMaxLifespan: "0"
        clientOfflineSessionIdleTimeout: "0"
      userManagedAccessAllowed: false
      clients:
        - clientId: portal-frontend
          name: Portal Frontend
          description: CIVITAS Portal Frontend Application
          enabled: true
          protocol: openid-connect
          publicClient: false
          secret: "$(env:PORTAL_CLIENT_SECRET)"
          rootUrl: https://{{ .Environment.Values.portal.ingressDomain }}
          baseUrl: https://{{ .Environment.Values.portal.ingressDomain }}
          bearerOnly: false
          standardFlowEnabled: true
          implicitFlowEnabled: false
          directAccessGrantsEnabled: true
          serviceAccountsEnabled: false
          authorizationServicesEnabled: false
          redirectUris:
            - https://{{ .Environment.Values.portal.ingressDomain }}/*
            - http://localhost:3000/*
          webOrigins:
            - https://{{ .Environment.Values.portal.ingressDomain }}
            - http://localhost:3000
          defaultClientScopes:
            - email
            - profile
            - roles
            - web-origins
          optionalClientScopes:
            - address
            - phone
            - offline_access
            - microprofile-jwt
          attributes:
            post.logout.redirect.uris: +
            pkce.code.challenge.method: S256
