fullnameOverride: ""
nameOverride: ""
replicas: 1
image:
  repository: {{ .Environment.Values.keycloak.image.repository | default "quay.io/keycloak/keycloak" }}
  tag: {{ .Environment.Values.keycloak.image.tag | default "26.4.0" }}
  digest: {{ .Environment.Values.keycloak.image.digest | default "" }}
  pullPolicy: IfNotPresent
updateStrategy: {{ .Environment.Values.keycloak.updateStrategy | default "RollingUpdate" }}
restartPolicy: Always
extraEnv: |
  - name: KC_HOSTNAME_STRICT
    value: "false"
  - name: JGROUPS_DISCOVERY_PROTOCOL
    value: kubernetes.KUBE_PING
  - name: JGROUPS_DISCOVERY_PROPERTIES
    value: dump_requests=true,port_range=0,namespace={{ .Environment.Values.global.namespace | default "civitas" }}
  - name: KC_BOOTSTRAP_ADMIN_USERNAME
    value: {{ .Environment.Values.keycloak.admin.user | default "admin" }}
  - name: KC_BOOTSTRAP_ADMIN_PASSWORD
    valueFrom:
      secretKeyRef:
        name: {{ .Environment.Values.keycloak.admin.secret.name | default "keycloak-admin-user" }}
        key: {{ .Environment.Values.keycloak.admin.secret.key | default "admin-password" }}
resources:
  requests:
    memory: {{ .Environment.Values.keycloak.resources.requests.memory | default "512Mi" }}
    cpu: {{ .Environment.Values.keycloak.resources.requests.cpu | default "250m" }}
  limits:
    memory: {{ .Environment.Values.keycloak.resources.limits.memory | default "1Gi" }}
    cpu: {{ .Environment.Values.keycloak.resources.limits.cpu | default "500m" }}
service:
  {{- if .Environment.Values.keycloak.service.annotations }}
  annotations:
    {{ toYaml .Environment.Values.keycloak.service.annotations | indent 4 }}
  {{- end }}
  {{- if .Environment.Values.keycloak.service.labels }}
  labels:
    {{ toYaml .Environment.Values.keycloak.service.labels | indent 4 }}
  {{- end }}
  httpsPort: 8443
ingress:
  enabled: true
  ingressClassName: "nginx"
  servicePort: http
  annotations:
    ingress.kubernetes.io/affinity: cookie
    {{- range $key, $value := .Environment.Values.keycloak.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
  {{- if .Environment.Values.keycloak.ingress.labels }}
  labels:
    {{ toYaml .Environment.Values.keycloak.ingress.labels | indent 4 }}
  {{- end }}
  rules:
    - host: {{ .Environment.Values.keycloak.ingress.domain }}
      paths:
        - path: {{ default "/" .Environment.Values.keycloak.ingress.relativePath | trimSuffix "/" }}/
          pathType: Prefix
# TODO: fix TLS
  tls: []
#    - hosts:
#        - {{ .Environment.Values.keycloak.ingress.domain }}
#      secretName: {{ .Environment.Values.keycloak.ingress.tls.secretName }}
  console:
    enabled: true
    rules:
      - host: {{ .Environment.Values.keycloak.ingress.domain }}
        paths:
          - path: {{ default "/" .Environment.Values.keycloak.ingress.relativePath | trimSuffix "/" }}/admin
            pathType: Prefix
route:
  enabled: false
dbchecker:
  enabled: {{ default true .Environment.Values.keycloak.database.checker.enabled }}
  image:
    repository: {{ default "docker.io/busybox" .Environment.Values.keycloak.database.checker.image.repository }}
    tag: {{ default "1.32" .Environment.Values.keycloak.database.checker.image.tag }}
  resources:
    requests:
      cpu: {{ default "20m" .Environment.Values.keycloak.database.checker.resources.requests.cpu }}
      memory: {{ default "32Mi" .Environment.Values.keycloak.database.checker.resources.requests.memory }}
    limits:
      cpu: {{ default "20m" .Environment.Values.keycloak.database.checker.resources.limits.cpu }}
      memory: {{ default "32Mi" .Environment.Values.keycloak.database.checker.resources.limits.memory }}
database:
  vendor: postgres
  hostname: {{ .Environment.Values.databases.keycloak.host }}
  port: {{ default 5432 .Environment.Values.databases.keycloak.port }}
  database: {{ default "keycloak" .Environment.Values.databases.keycloak.name }}
  username: {{ default "keycloak" .Environment.Values.databases.keycloak.user }}
  existingSecret: {{ .Environment.Values.databases.keycloak.secret.name }}
  existingSecretKey: {{ .Environment.Values.databases.keycloak.secret.key }}
proxy:
  enabled: true
  mode: xforwarded
  http:
    enabled: true
metrics:
  enabled: {{ default false .Environment.Values.global.metrics.enabled }}
serviceMonitor:
  enabled: {{ default false .Environment.Values.global.metrics.enabled }}
  namespace: {{ .Environment.Values.global.namespace | default "civitas" }}
autoscaling:
  enabled: {{ default false .Environment.Values.keycloak.autoscaling.enabled }}
  minReplicas: {{ default 1 .Environment.Values.keycloak.autoscaling.minReplicas }}
  maxReplicas: {{ default 3 .Environment.Values.keycloak.autoscaling.maxReplicas }}
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ default 80 .Environment.Values.keycloak.autoscaling.targetCPUtilizationPercentage }}
command:
  - "/opt/keycloak/bin/kc.sh"
  - "start"
http:
  relativePath: {{ default "/" .Environment.Values.keycloak.ingress.relativePath }}

livenessProbe: |
  httpGet:
    path: '{{ .Environment.Values.keycloak.ingress.relativePath | trimSuffix "/" }}/realms/master'
    port: 'http'
    scheme: 'HTTP'
  initialDelaySeconds: {{ default 0 .Environment.Values.keycloak.probesInitialDelaySeconds.liveness }}
  timeoutSeconds: 5
readinessProbe: |
  httpGet:
    path: '{{ .Environment.Values.keycloak.ingress.relativePath | trimSuffix "/" }}/realms/master'
    port: 'http'
    scheme: 'HTTP'
  initialDelaySeconds: {{ default 10 .Environment.Values.keycloak.probesInitialDelaySeconds.readiness }}
  timeoutSeconds: 1
startupProbe: |
  httpGet:
    path: '{{ .Environment.Values.keycloak.ingress.relativePath | trimSuffix "/" }}/realms/master'
    port: 'http'
    scheme: 'HTTP'
  initialDelaySeconds: {{ default 15 .Environment.Values.keycloak.probesInitialDelaySeconds.startup }}
  timeoutSeconds: 1
  failureThreshold: 60
  periodSeconds: 5
health:
  enabled: true
