---
{{- $this := .Values.postgres.operator -}}
{{- $global := .Values.global }}
# - [x] Minimal Resources
# - [x] Minimal storage -> not applicable for operator
# - [x] 1 Replica

replicaCount: 1

resources:
  requests:
    cpu: "100m"
    memory: "200Mi"
  limits:
    cpu: "200m"
    memory: "400Mi"
