---
bases:
  - "../../defaults/helm-defaults.yaml"
---
{{- $root := .Values }}
{{- $linkerdEnabled := and ($root.global.serviceMesh.enable | default false) (eq ($root.global.serviceMesh.type | default "") "linkerd") }}
{{- $failureAction := index ($root.global.runtimePolicies | default dict) "failureAction" | default "Audit" }}
{{- $enabled := index ($root.global.runtimePolicies | default dict) "enabled" | default false }}
{{- $namespace := index $root "runtime-policies" "runtime-policies" "namespace" }}

releases:
  - name: runtime-policies
    namespace: {{ $namespace }}
    chart: ./charts/runtime-policies
    createNamespace: {{ $root.global.createNamespaces }}
    installed: {{ $enabled }}
    values:
      - operators:
          enabled: true
        linkerd:
          enabled: {{ $linkerdEnabled }}
        failureAction: {{ $failureAction }}

commonLabels:
  component: runtime-policies
