watchNamespaces:
  - {{ .Values.kafka.namespace }}
labels:
  app.kubernetes.io/name: strimzi-kafka-operator
  app.kubernetes.io/instance: {{ .Values.global.namespace }}
  app.kubernetes.io/managed-by: Helm
  app.kubernetes.io/component: operator
  app.kubernetes.io/part-of: civitas-core
# security see: https://strimzi.io/blog/2022/09/09/configuring-security-context-in-pods-managed-by-strimzi/
extraEnvs:
  - name: STRIMZI_POD_SECURITY_PROVIDER_CLASS
    value: restricted
securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault