---
{{- $this := .Values.geoserver.geoserver }}
{{- $global := .Values.global }}
# Checklist:
# - [x] Containers run as non-root with `readOnlyRootFilesystem`
# - [x] Health probes -> default
# - [ ] Graceful shutdown
# - [ ] Standard labels
# - [x] ServiceAccount with least privilege where required
# - [x] Named ports -> default
# - [x] Ingress with TLS -> ingress disabled

additionalVolumes: &additional-volumes
  cache:
    emptyDir: {}

additionalVolumeMounts: &additional-volume-mounts
  /mnt/cache:
    name: 'cache'

env: &env-override
  PG_PASSWORD:
    type: secret
    name: '{{ .Values.databases.geoserver.secret.name }}'
    key: 'password'
  RABBITMQ_HOST:
    value: 'geoserver-rabbitmq'
  RABBITMQ_USER:
    value: 'geoserver'
  RABBITMQ_PASSWORD:
    type: secret
    name: 'geoserver-rabbitmq-admin'
    key: 'rabbitmq-password'
  SPRING_PROFILES_ACTIVE:
    value: standalone,pgconfig
  GEOWEBCACHE_CACHE_DIR:
    value: '/mnt/cache'
  JAVA_OPTS:
    value: '$(JAVA_OPTS_DEFAULT) -XshowSettings:system'
  PGCONFIG_HOST:
    value: {{ .Values.databases.geoserver.hostServiceName }}.{{ .Values.postgres.cluster.namespace }}.svc.cluster.local
  PGCONFIG_PORT:
    value: "{{ .Values.databases.geoserver.port }}"
  PGCONFIG_DATABASE:
    value: {{ .Values.databases.geoserver.name }}
  PGCONFIG_SCHEMA:
    value: public
  PGCONFIG_USERNAME:
    value: {{ .Values.databases.geoserver.user }}
  PGCONFIG_PASSWORD:
    type: secret
    name: '{{ .Values.databases.geoserver.secret.name }}'
    key: 'password'
  PGCONFIG_MAXCONNECTIONS:
    value: '10'
  GEOSERVER_WEB_GLOBALSERVICES:
    value: 'false'

additional-attributes: &additional-attributes
  volumes:
    <<: *additional-volumes
  containers:
    spring:
      env:
        <<: *env-override
      volumeMounts:
        <<: *additional-volume-mounts

global:
  profile: standalone,pgconfig
  image:
    pullPolicy: IfNotPresent
geoserver:
  ingress:
    enabled: false
  securityContext:
    {{ .Values.securityDefaults.securityContext | toYaml | nindent 4 }}
  podSecurityContext:
    {{ .Values.securityDefaults.podSecurityContext | toYaml | nindent 4 }}
  serviceAccount:
    create: true
    name: geoserver
  services:
    gateway:
      ingress:
        enabled: false
      containers:
        spring:
          image:
            repository: {{ .Values.images.geoserver.gateway.repository }}
            tag: {{ .Values.images.geoserver.gateway.tag }}
      <<: *additional-attributes
    webui:
      containers:
        spring:
          image:
            repository: {{ .Values.images.geoserver.webui.repository }}
            tag: {{ .Values.images.geoserver.webui.tag }}
      <<: *additional-attributes
    rest:
      containers:
        spring:
          image:
            repository: {{ .Values.images.geoserver.rest.repository }}
            tag: {{ .Values.images.geoserver.rest.tag }}
      <<: *additional-attributes
    wms:
      containers:
        spring:
          image:
            repository: {{ .Values.images.geoserver.wms.repository }}
            tag: {{ .Values.images.geoserver.wms.tag }}
      <<: *additional-attributes
    wcs:
      containers:
        spring:
          image:
            repository: {{ .Values.images.geoserver.wcs.repository }}
            tag: {{ .Values.images.geoserver.wcs.tag }}
      <<: *additional-attributes
    wfs:
      containers:
        spring:
          image:
            repository: {{ .Values.images.geoserver.wfs.repository }}
            tag: {{ .Values.images.geoserver.wfs.tag }}
      <<: *additional-attributes
    gwc:
      containers:
        spring:
          image:
            repository: {{ .Values.images.geoserver.gwc.repository }}
            tag: {{ .Values.images.geoserver.gwc.tag }}
      # for now disabled. Can be enabled if we want to use the GWC service, but is currently not required
      enabled: false
      <<: *additional-attributes
    wps:
      containers:
        spring:
          image:
            repository: {{ .Values.images.geoserver.wps.repository }}
            tag: {{ .Values.images.geoserver.wps.tag }}
      <<: *additional-attributes
