---
{{- $this := .Values.geoserver.geoserver }}
{{- $global := .Values.global }}
# Checklist:
# - [ ] Containers run as non-root with `readOnlyRootFilesystem`
# - [ ] Health probes
# - [ ] Graceful shutdown
# - [ ] Standard labels
# - [ ] ServiceAccount with least privilege where required
# - [ ] Named ports
# - [ ] Ingress with TLS

# TODO: set helm values for geoserver here
