---
{{- $this := .Values.geoserver.geoserver }}
{{- $global := .Values.global }}
# Checklist:
# - [x] Resources (requests and limits)
# - [x] Larger Storage
# - [x] 2+ Replicas or HorizontalPodAutoscaler
# - [x] Rolling updates `maxUnavailable: 0`, `maxSurge: 25%`
# - [x] PodDisruptionBudget (at least `minAvailable: 1`)

production-service-config: &production-service
  replicaCount: 2
  containers:
    spring:
      resources:
        requests:
          cpu: 500m
          memory: 1Gi
        limits:
          cpu: 2
          memory: 4Gi
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 25%
  pdb:
    enabled: true
    minAvailable: 1

geoserver:
  services:
    gateway:
      <<: *production-service
    webui:
      <<: *production-service
    rest:
      <<: *production-service
    wms:
      <<: *production-service
    wcs:
      <<: *production-service
    wfs:
      <<: *production-service
    gwc:
      replicaCount: 0
    wps:
      <<: *production-service
