---
nifi:
  nifi:
    enabled: true
    namespace: {{ include "civitas.namespace" (dict "global" .Values.global "suffix" "nifi") }}
    nodeCount: 1
    initialAdminEmail: {{ .Values.global.initialUserEmail }}
    bootstrapAdminIdentity: nifi-admin@internal.local
    postgresqlJdbcVersion: "42.7.4"

  bootstrap:
    enabled: true
    namespace: {{ include "civitas.namespace" (dict "global" .Values.global "suffix" "nifi") }}
