---
{{- $this := .Values.secrets.generator }}
{{- $global := .Values.global }}
secrets:
{{- range $group := .Values.managedSecrets }}
  {{- range $part := $group }}
    {{- range $secretName, $secrets := $part }}
  - name: {{ $secretName }}
    namespace: {{ $global.instanceSlug }}	# TODO: handle per-component namespaces
    keys:
				{{- range $secretKey, $secret := $secrets }}
					{{- if $secret.generate }}
      {{ $secretKey }}: {{ $secret.length }}
					{{- end}}
				{{- end }}
    {{- end }}
  {{- end }}
{{- end }}

