---
{{- $this := .Values.secrets.generator }}
{{- $global := .Values.global }}
secrets:
{{- /* Application secrets */ -}}
{{- range $group := .Values.managedSecrets }}
  {{- range $part := $group }}
    {{- range $secretName, $secrets := $part }}
  - name: {{ $secretName }}
    namespace: {{ $global.instanceSlug }}  # TODO: handle per-component namespaces
    keys:
    {{- range $secretKey, $secret := $secrets }}
      {{- if kindIs "map" $secret }}
        {{- if $secret.generate }}
      {{ $secretKey }}: {{ $secret.length }}
        {{- end }}
      {{- else }}
      {{ $secretKey }}: {{ $secret }}
      {{- end }}
    {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{- /* Database secrets */ -}}
{{- range $component := .Values.databases -}}
 {{- if and $component.embedded $component.secret.generate }}
  - name: {{ $component.secret.name }}
    namespace: {{ $global.instanceSlug }}  # TODO: handle per-component namespaces
    keys:
      {{ $component.secret.key }}: 32
      username: {{ $component.user }}
 {{- end }}
{{- end }}

{{- /* Keycloak client secrets */ -}}
{{- range $clientId, $client := .Values.keycloakClients }}
  - name: {{ printf "keycloak-client-%s" $clientId }}
    namespace: {{ $global.instanceSlug }}	# TODO: handle per-component namespaces
    keys:
      client-secret: 32
{{- end }}
