image:
  repository: {{ .Environment.Values.apisix.image.repository }}
  tag: {{ .Environment.Values.apisix.image.tag }}
replicaCount: {{ .Environment.Values.apisix.replicaCount }}
resources:
  requests:
    memory: {{ default "256Mi" .Environment.Values.apisix.resources.requests.memory }}
    cpu: {{ default "250m" .Environment.Values.apisix.resources.requests.cpu }}
  limits:
    memory: {{ default "1Gi" .Environment.Values.apisix.resources.limits.memory }}
    cpu: {{ default "1000m" .Environment.Values.apisix.resources.limits.cpu }}
timezone: {{ default "Europe/Berlin" .Environment.Values.apisix.timezone }}
updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 1
    maxSurge: 25%
metrics:
  serviceMonitor:
    enabled: {{ .Environment.Values.global.metrics.enabled | default false }}
apisix:
  admin:
    credentials:
      secretName: {{ .Environment.Values.apisix.apisix.admin.credentials.secretName }}
      secretAdminKey: {{ .Environment.Values.apisix.apisix.admin.credentials.secretAdminKey }}
      secretViewerKey: {{ .Environment.Values.apisix.apisix.admin.credentials.secretViewerKey }}
    ingress:
      enabled: true
      hosts:
        - host: {{ default "apisix.local" .Environment.Values.apisix.apisix.admin.domain }}
          paths:
            - {{ default "/" .Environment.Values.apisix.apisix.admin.path }}
  prometheus:
    enabled: {{ default false .Environment.Values.global.metrics.enabled }}
# TODO: change to external etcd, byoe or add as dependency
etcd: 
  enabled: true
ingress-controller:
  enabled: {{ default true .Environment.Values.apisix.ingressController.enabled }}
