---
bases:
  - "../../defaults/helm-defaults.yaml"
---
{{- $componentData := (readFile "./civitas-component.yaml" | fromYaml) }}

{{- $root := .Values }}
{{- $component := $componentData.component }}

releases:
  {{- $managedSecrets := index $root "managedSecrets" | default list }}
  {{- range $sourceComponent := $managedSecrets }}
    {{- range $sourcePart := $sourceComponent }}
      {{- range $secretName, $secretData := $sourcePart }}
        {{- $targetComponents := index $secretData "componentNamespaces" | default list }}
        {{- $keys := dict }}
        {{- range $key, $value := $secretData }}
          {{- if ne $key "componentNamespaces" }}
            {{- $_ := set $keys $key $value }}
          {{- end }}
        {{- end }}
        {{- $allTargetNamespaces := list }}
        {{- range $targetComponentName := $targetComponents }}
          {{- $targetComponentData := index $root $targetComponentName | default dict }}
          {{- range $partKey, $partData := $targetComponentData }}
            {{- if and (kindIs "map" $partData) (hasKey $partData "namespace") }}
              {{- $targetNamespace := index $partData "namespace" }}
              {{- $allTargetNamespaces = append $allTargetNamespaces $targetNamespace }}
              {{- break }}
            {{- end }}
          {{- end }}
        {{- end }}
        {{- $uniqueTargetNamespaces := $allTargetNamespaces | uniq }}
        {{- if gt (len $uniqueTargetNamespaces) 0 }}
          {{- $releaseName := printf "%s-%s" $component $secretName }}
          {{- $firstNamespace := index $uniqueTargetNamespaces 0 }}
  - name: {{ $releaseName }}
    labels:
      release: {{ $releaseName }}
      secret-name: {{ $secretName }}
    namespace: {{ $firstNamespace }}
    chart: ./charts/secrets-generator
    createNamespace: {{ $root.global.createNamespaces }}
    installed: {{ index $root $component "generator" "enabled" | default true }}
    values:
      - secrets:
          - name: {{ $secretName }}
            namespaces:
              {{- $uniqueTargetNamespaces | toYaml | nindent 14 }}
            keys:
              {{- $keys | toYaml | nindent 14 }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}

commonLabels:
  component: {{ $component }}
