{{ $global := . }}
{{- range .Values.components }}
{{- $component := . }}
{{- tpl (readFile (printf "../../components/%s/default-environment.yaml.gotmpl" $component)) $global | fromYaml | toYaml | nindent 0 }}
{{- end }}