managedSecrets:
  {{ include "civitas.configFiles" (dict "components" .Values.components "file" "secrets.yaml") }}

  # Auto-generate confidential Keycloak client secrets from component keycloak-clients.yaml files.
  {{- $root := .Values }}
  {{- range $component := .Values.components }}
    {{- $addonPath := printf "../../deployment/addons/%s" $component }}
    {{- $componentPath := printf "../../components/%s/keycloak-clients.yaml" $component }}
    {{- $filePath := $componentPath }}
    {{- if isDir $addonPath }}
      {{- $filePath = printf "%s/keycloak-clients.yaml" $addonPath }}
    {{- end }}
    {{- if isFile $filePath }}
      {{- $componentValuesKey := $component }}
      {{- if not (hasKey $root $componentValuesKey) }}
        {{- range $rootKey, $rootVal := $root }}
          {{- if and (kindIs "map" $rootVal) (eq ($rootKey | kebabcase) ($component | kebabcase)) }}
            {{- $componentValuesKey = $rootKey }}
          {{- end }}
        {{- end }}
      {{- end }}
      {{- $clients := readFile $filePath | fromYaml | default dict }}
      {{- range $clientId, $client := $clients }}
        {{- $rawValues := index $client "rawValues" | default dict }}
        {{- $isPublicClient := index $rawValues "publicClient" | default false }}
        {{- if not $isPublicClient }}
          {{- $targetComponents := index $client "componentNamespaces" | default (list $componentValuesKey) }}
  keycloakClient-{{ $component | kebabcase }}-{{ $clientId }}:
    generated:
      keycloak-client-{{ $clientId }}:
        client-secret:
          length: 32
          generate: true
        componentNamespaces:
          - keycloak
          {{- range $targetComponent := $targetComponents }}
          - {{ $targetComponent }}
          {{- end }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
