{{- $secretsFile := "secrets.yaml" -}}
{{- $global := . -}}
managedSecrets:
  {{- range .Values.components }}
		{{- $component := . }}
		{{- $addonPath := printf "../../deployment/addons/%s" $component }}
		{{- $componentPath := printf "../../components/%s/%s" $component $secretsFile}}
		{{- $secretsPath := $componentPath }}
	  {{- if isDir $addonPath }}
	    {{- $secretsPath = printf "%s/" $addonPath $secretsFile}}
		{{- end }}
		{{- if isFile $secretsPath -}}
	{{- readFile $secretsPath | fromYaml | toYaml | nindent 2 }}
		{{- end }}
	{{- end }}
