---
geoserver:
  rabbitmq:
    enabled: true
    namespace: {{ include "civitas.namespace" (dict "global" .Values.global "suffix" "geoserver") }}
  geoserver:
    enabled: true
    namespace: {{ include "civitas.namespace" (dict "global" .Values.global "suffix" "geoserver") }}
