---
{{ componentVariableName }}:
{%- for release in releasesList %}
  {{ release }}:
    enabled: true
    namespace: {{ '{{' }} include "civitas.namespace" (dict "global" .Values.global "suffix" "{{ componentSlug }}") {{ '}}' }}
{%- endfor %}
