---
{{- $this := .Values.grafana.grafana }}
{{- $global := .Values.global }}
# Checklist:
# - [x] Resources (requests and limits)
# - [ ] Larger Storage
# - [ ] 2+ Replicas or HorizontalPodAutoscaler
# - [ ] Rolling updates `maxUnavailable: 0`, `maxSurge: 25%`
# - [ ] PodDisruptionBudget (at least `minAvailable: 1`)

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
