---
environments:
  default:
    values:
      - ../environments/default/*.yaml
  local:
    values:
      - ../environments/local/*.yaml
---
helmDefaults:
  wait: true
  waitForJobs: true
---
releases:
  - name: application-secrets
    namespace: '{{ .Environment.Values.global.namespace }}'
    chart: ../charts/secrets
    createNamespace: true
    values:
      - ../values/secrets/all-secrets.yaml.gotmpl
