---
environments:
  default:
    values:
      - ../environments/default/*.yaml
  local:
    values:
      - ../environments/local/*.yaml
---
helmDefaults:
  wait: true
  waitForJobs: true
---
releases:
  - name: application-secrets
    namespace: default
    chart: ../charts/secrets
    createNamespace: false
    values:
      - ../values/secrets/all-secrets.yaml.gotmpl
