---
repositories:
  - name: cnpg
    url: https://cloudnative-pg.github.io/charts
---
environments:
  default:
    values:
      - ../environments/default/*.yaml
  local:
    values:
      - ../environments/local/*.yaml
---
helmDefaults:
  wait: true
  waitForJobs: true
---
releases:
  - name: {{ .Environment.Values.embeddedDatabase.cluster.name }}-operator
    namespace: "{{- if .Environment.Values.embeddedDatabase.clusterWide -}}{{ .Environment.Values.embeddedDatabase.namespace }}{{- else -}}{{ .Environment.Values.global.namespace }}{{- end -}}"
    chart: cnpg/cloudnative-pg
    version: "{{ .Environment.Values.embeddedDatabase.crdVersion }}"
    createNamespace: true
    condition: embeddedDatabase.enabled
    set:
      - name: config.clusterWide
        value: {{ .Environment.Values.embeddedDatabase.clusterWide }}
  - name: "{{ .Environment.Values.embeddedDatabase.cluster.name }}"
    needs:
      - "{{- if .Environment.Values.embeddedDatabase.clusterWide -}}{{ .Environment.Values.embeddedDatabase.namespace }}{{- else -}}{{ .Environment.Values.global.namespace }}{{- end -}}/db-cluster-operator"
    namespace: "{{- if .Environment.Values.embeddedDatabase.clusterWide -}}{{ .Environment.Values.embeddedDatabase.namespace }}{{- else -}}{{ .Environment.Values.global.namespace }}{{- end -}}"
    chart: cnpg/cluster
    version: "{{ .Environment.Values.embeddedDatabase.clusterVersion }}"
    createNamespace: true
    condition: embeddedDatabase.enabled
    values:
      - ../values/cloudnative-pg/cloudnative-pg.yaml.gotmpl
