---
repositories:
  - name: keycloak-config-cli
    # TODO: see https://github.com/adorsys/keycloak-config-cli/issues/1287#issuecomment-3338550468
    url: https://jkroepke.github.io/helm-charts/
---
environments:
  default:
    values:
      - ../environments/default/*.yaml
  dev:
    values:
      - ../environments/dev/values.yaml
---
helmDefaults:
  wait: true
  waitForJobs: true
---
releases:
  - name: keycloak-db
    namespace: >-
      {{ if .Environment.Values.embeddedDatabase.clusterWide }}
        {{ .Environment.Values.keycloak.namespace }}
      {{ else }}
        {{ .Environment.Values.embeddedDatabase.namespace }}
      {{ end }}
    chart: ../charts/database
    createNamespace: true
    installed: {{ .Environment.Values.databases.keycloak.embedded }}
    values:
      - ../values/keycloak/keycloak-db.yaml.gotmpl
  - name: keycloak
    namespace: '{{ .Environment.Values.keycloak.namespace }}'
    chart: oci://ghcr.io/codecentric/helm-charts/keycloakx
    version: '{{ .Environment.Values.keycloak.chartVersion }}'
    createNamespace: true
    needs:
      - keycloak-db
    condition: keycloak.enabled
    values:
      - ../values/keycloak/keycloak.yaml.gotmpl
    hooks:
      - events: ['presync', 'preapply']
        command: 'sh'
        args:
          - '-c'
          - |
            EXISTING_SECRET=$(kubectl get secret \
              {{ .Environment.Values.keycloak.admin.secret.name }} \
              -n {{ .Environment.Values.keycloak.namespace }} --ignore-not-found)
            if [ -z "$EXISTING_SECRET" ] || \
              [ "{{ .Environment.Values.keycloak.admin.forceRecreateSecret }}" = "true" ]; then
              ADMIN_PASSWORD=$(openssl rand -base64 16)
              kubectl create secret generic \
                {{ .Environment.Values.keycloak.admin.secret.name }} \
                --from-literal={{ .Environment.Values.keycloak.admin.secret.key }}=$ADMIN_PASSWORD \
                -n {{ .Environment.Values.keycloak.namespace }} \
                --dry-run=client -o yaml | kubectl apply -f -
              echo "Created/Updated secret {{ .Environment.Values.keycloak.admin.secret.name }} \
                in namespace {{ .Environment.Values.keycloak.namespace }}"
            else
              echo "Secret {{ .Environment.Values.keycloak.admin.secret.name }} already exists \
                in namespace {{ .Environment.Values.keycloak.namespace }}, skipping creation."
            fi
        showlogs: false
  - name: keycloak-config-cli
    namespace: '{{ .Environment.Values.keycloak.namespace }}'
    chart: keycloak-config-cli/keycloak-config-cli
    version: '{{ .Environment.Values.keycloak.config.chartVersion }}'
    createNamespace: false
    needs:
      - keycloak
      - keycloak-db
    condition: keycloak.enabled
    values:
      - ../values/keycloak/keycloak-config-cli.yaml.gotmpl
