environments:
  default:
    values:
      - ../environments/default/*.yaml
      - profile: dev
  prod:
    values:
      - ../environments/default/*.yaml
      - profile: prod
---
helmDefaults:
  wait: true
  waitForJobs: true
---
releases:
  - name: kafka-operator
    namespace: {{ .Values.global.namespacePrefix }}-kafka-operator
    chart: oci://quay.io/strimzi-helm/strimzi-kafka-operator
    version: "0.48.0"
    createNamespace: true
    values:
      - ../values/kafka-operator.yaml.gotmpl
  - name: kafka
    namespace: {{ .Values.global.namespacePrefix }}-kafka
    chart: ../charts/kafka
    createNamespace: true
    values:
      - ../values/kafka/kafka-base.yaml
      - ../values/kafka/kafka-{{ .Values.profile | default "dev" }}.yaml
      - ../values/environment-merger.yaml.gotmpl
