---
repositories:
  - name: keycloak-config-cli
    # TODO: see https://github.com/adorsys/keycloak-config-cli/issues/1287#issuecomment-3338550468
    url: https://jkroepke.github.io/helm-charts/
---
environments:
  default:
    values:
      - ../environments/default/*.yaml
  local:
    values:
      - ../environments/local/*.yaml
---
helmDefaults:
  wait: true
  waitForJobs: true
---
releases:
  - name: keycloak-db
    namespace: >-
      {{ if .Values.embeddedDatabase.clusterWide }}
        {{ .Values.keycloak.namespace }}
      {{ else }}
        {{ .Values.embeddedDatabase.namespace }}
      {{ end }}
    chart: ../charts/database
    createNamespace: true
    installed: {{ .Values.databases.keycloak.embedded }}
    values:
      - ../values/keycloak/keycloak-db.yaml.gotmpl
  - name: keycloak
    namespace: '{{ .Values.keycloak.namespace }}'
    chart: oci://ghcr.io/codecentric/helm-charts/keycloakx
    version: '{{ .Values.keycloak.chartVersion }}'
    createNamespace: true
    needs:
      - keycloak-db
    condition: keycloak.enabled
    values:
      - ../values/keycloak/keycloak.yaml.gotmpl
  - name: keycloak-config-cli
    namespace: '{{ .Values.keycloak.namespace }}'
    chart: keycloak-config-cli/keycloak-config-cli
    version: '{{ .Values.keycloak.config.chartVersion }}'
    createNamespace: false
    needs:
      - keycloak
      - keycloak-db
    condition: keycloak.enabled
    values:
      - ../values/keycloak/keycloak-config-cli.yaml.gotmpl

