---
repositories:
  - name: kafbat-ui
    url: https://kafbat.github.io/helm-charts
---
environments:
  default:
    values:
      - ../environments/default/*.yaml
      - profile: prod
  local:
    values:
      - ../environments/local/*.yaml
      - profile: dev
---
helmDefaults:
  wait: true
  waitForJobs: true
---
releases:
  - name: kafka-operator
    namespace: '{{ .Values.kafka.namespace }}'
    chart: oci://quay.io/strimzi-helm/strimzi-kafka-operator
    version: '{{ .Values.kafka.operator.chartVersion }}'
    condition: kafka.enabled
    createNamespace: true
    values:
      - ../values/kafka/kafka-operator.yaml.gotmpl
  - name: kafka
    namespace: '{{ .Values.kafka.namespace }}'
    chart: ../charts/kafka
    condition: kafka.enabled
    createNamespace: true
    needs:
      - {{ .Values.kafka.namespace }}/kafka-operator
    values:
      - ../values/kafka/kafka-cluster/kafka-base.yaml
      - ../values/kafka/kafka-cluster/kafka-{{ .Values.profile | default "dev" }}.yaml
      - ../values/environment-merger.yaml.gotmpl
  - name: kafka-ui
    namespace: '{{ .Values.kafka.namespace }}'
    chart: kafbat-ui/kafka-ui
    condition: kafka.enabled
    version: '{{ .Values.kafka.ui.chartVersion }}'
    needs:
      - {{ .Values.kafka.namespace }}/kafka
    values:
      - ../values/kafka/kafka-ui/kafka-ui-base.yaml.gotmpl
      - ../values/kafka/kafka-ui/kafka-ui-{{ .Values.profile | default "dev" }}.yaml.gotmpl
      - ../values/environment-merger.yaml.gotmpl
