---
environments:
  default:
    values:
      - ../environments/default/*.yaml
      - profile: prod
  local:
    values:
      - ../environments/local/*.yaml
      - profile: dev
---
helmDefaults:
  wait: true
  waitForJobs: true
---
releases:
  - name: etcd
    namespace: '{{ .Environment.Values.etcd.namespace }}'
    chart: ../charts/etcd
    condition: etcd.enabled
    createNamespace: true
    values:
      - ../values/etcd/etcd-base.yaml
      - ../values/etcd/etcd-{{ .Values.profile | default "dev" }}.yaml
      - ../values/environment-merger.yaml.gotmpl
