---
environments:
  default:
    values:
      - ../environments/default/*.yaml
  local:
    values:
      - ../environments/local/*.yaml
---
helmDefaults:
  wait: true
  waitForJobs: true
---
releases:
  - name: apicurio
    namespace: {{ .Values.apicurio.namespace }}
    chart: ../charts/apicurio
    createNamespace: true
    installed: {{ .Values.apicurio.enabled }}
    values:
      - ../values/apicurio/apicurio.yaml.gotmpl