---
repositories:
  - name: apisix
    url: https://apache.github.io/apisix-helm-chart
---
environments:
  default:
    values:
      - ../environments/default/*.yaml
  local:
    values:
      - ../environments/local/*.yaml
---
helmDefaults:
  wait: true
  waitForJobs: true
---
releases:
  - name: apisix
    namespace: '{{ .Values.apisix.namespace }}'
    chart: apisix/apisix
    version: '{{ .Values.apisix.chartVersion }}'
    createNamespace: true
    condition: apisix.enabled
    values:
      - ../values/apisix/apisix.yaml.gotmpl
    hooks:
      - events: ['presync', 'preapply']
        command: 'sh'
        args:
          - '-c'
          - |
            EXISTING_SECRET=$(kubectl get secret \
              {{ .Values.apisix.apisix.admin.credentials.secretName }} \
              -n {{ .Values.apisix.namespace }} --ignore-not-found)
            if [ -z "$EXISTING_SECRET" ] || \
              [ "{{ .Values.apisix.apisix.admin.credentials.forceRecreateSecret }}" = "true" ]; then
              ADMIN_PASSWORD=$(openssl rand -base64 16)
              VIEWER_PASSWORD=$(openssl rand -base64 16)
              kubectl create secret generic \
                {{ .Values.apisix.apisix.admin.credentials.secretName }} \
                --from-literal={{
                  .Values.apisix.apisix.admin.credentials.secretAdminKey
                }}=$ADMIN_PASSWORD \
                --from-literal={{
                  .Values.apisix.apisix.admin.credentials.secretViewerKey
                }}=$VIEWER_PASSWORD \
                -n {{ .Values.apisix.namespace }} \
                --dry-run=client -o yaml | kubectl apply -f -
              echo "Created/Updated secret \
                {{ .Values.apisix.apisix.admin.credentials.secretName }} \
                in namespace {{ .Values.apisix.namespace }}"
            else
              echo "Secret \
                {{ .Values.apisix.apisix.admin.credentials.secretName }} \
                already exists in namespace {{ .Values.apisix.namespace }}, skipping creation."
            fi
        showlogs: false
