---
{{- $this := .Values.redpandaConnect.connect }}
{{- $global := .Values.global }}
# Checklist:
# - [x] Resources (requests and limits)
# - [x] Larger Storage -> not applicable
# - [x] 2+ Replicas or HorizontalPodAutoscaler
# - [x] Rolling updates `maxUnavailable: 0`, `maxSurge: 25%`
# - [x] PodDisruptionBudget (at least `minAvailable: 1`)

deployment:
  replicas: 2

resources:
  requests:
    cpu: '200m'
    memory: '512Mi'
  limits:
    cpu: '2'
    memory: '2Gi'

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 12
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 80

updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 0
    maxSurge: 25%

podDisruptionBudget:
  enabled: true
  minAvailable: 1
  maxUnavailable: 1
