---
{{- $this := .Values.modelAtlas.modelAtlas }}
{{- $global := .Values.global }}

# - [x] Containers run as non-root with `readOnlyRootFilesystem`
# - [x] Health probes
# - [ ] Graceful shutdown
# - [ ] Standard labels
# - [x] ServiceAccount with least privilege where required
# - [x] Named ports -> default
# - [x] Ingress with TLS

image:
  repository: {{ .Values.images.modelAtlas.app.repository }}
  tag: {{ .Values.images.modelAtlas.app.tag }}
  pullPolicy: Always

initContainers:
  - name: init-tmp-dir
    image: {{ .Values.images.modelAtlas.init.repository }}:{{ .Values.images.modelAtlas.init.tag }}
    command: ['sh', '-c', 'mkdir -p /tmp/modelatlas && chmod 755 /tmp/modelatlas']
    volumeMounts:
      - name: tmp
        mountPath: /tmp
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      readOnlyRootFilesystem: true

apicurio:
  host: "apicurio-apicurio-app.{{ .Values.apicurio.apicurio.namespace }}.svc.cluster.local"
  port: "8080"

ingress:
  enabled: false

service:
  type: ClusterIP
  port: 8080

networkPolicy:
  enabled: true
