---

frost:
  frost:
    rawValues:
      frost:
        http:
          resources:
            requests:
              cpu: 200m
              memory: 512Mi
            limits:
              cpu: 800m
              memory: 2Gi
