images:
  authz:
    authz:
      tag: 'develop'
    opa:
      tag: 'develop'
  configAdapters:
    adapters:
      tag: 'develop'
  portal:
    backend:
      tag: 'develop'
    frontend:
      tag: 'develop'
