---

postgres:
  cluster:
    rawValues:
      cluster:
        resources:
          requests:
            cpu: "500m"
            memory: "2Gi"
          limits:
            cpu: "2"
            memory: "8Gi"
