---
{{- $this := .Values.configAdapters.adapters }}
{{- $global := .Values.global }}
# Checklist:
# - [x] Resources (requests and limits)
# - [x] Larger Storage -> not applicable
# - [x] 2+ Replicas or HorizontalPodAutoscaler
# - [x] Rolling updates `maxUnavailable: 0`, `maxSurge: 25%`
# - [ ] PodDisruptionBudget (at least `minAvailable: 1`)  # TODO: add PDBs to charts

replicaCount: 2

resources:
  requests:
    memory: '500Mi'
    cpu: '500m'
  limits:
    memory: '1Gi'
    cpu: '1000m'

updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 0
    maxSurge: 25%
