---
{{ '{{' }}- $this := .Values.{{ componentVariableName }}.{{ release }} -{{ '}}' }}
{%- raw %}
{{- $global := .Values.global -}}
{%- endraw %}
# TODO: set helm values for {{ release }} here
# - [ ] Containers run as non-root with `readOnlyRootFilesystem`
# - [ ] Health probes
# - [ ] Graceful shutdown
# - [ ] Standard labels
# - [ ] ServiceAccount with least privilege where required
# - [ ] Named ports
# - [ ] Ingress with TLS
