---
{{- $this := .Values.networkpolicies.networkpolicies }}
{{- $global := .Values.global }}
# Checklist:
# - [ ] Minimal Resources -> not applicable
# - [ ] Minimal storage -> not applicable
# - [ ] 1 Replica -> not applicable
