kafka:
  operator:
    enabled: true
    namespace: {{ .Values.global.instanceSlug }}
  cluster:
    enabled: true
    namespace: {{ .Values.global.instanceSlug }}
    bootstrapService: kafka-cluster-kafka-bootstrap # must stay the same and is only used for other components to connect
    bootstrapPort: 9092
  ui:
    enabled: true
    namespace: {{ .Values.global.instanceSlug }}
